body{

    background:linear-gradient(
          rgba(0, 0, 0, 0.2), 
          rgba(0, 0, 0, 0.2)
        ), url(/pics/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 1.5vmax;

  
    
}

html{
  margin: 0;
  font-family: JetBrains Mono;
}

div {
    color: white;
    text-align: center;
}


img {width: 100%; max-width: 100%;}

#ra {
  border-radius: 25px;
  border: 1px solid white;
  width: 10%;
}

#rcorners2 {
  border-radius: 25px;
  border: 1px solid #8A2BE2;
  backdrop-filter: blur(55px);
  padding: 10px; 
  width:  70%;
  height: 70%;
  margin: auto;
}

#rcorners1 {
    border-radius: 13px;
    border-color: #8A2BE2;
    border: 1px solid #8A2BE2;
    backdrop-filter: blur(50px);
    padding: 3px; 
    width: 4%;
}

#rcorners3 {
    border-radius: 13px;
    border-color: #8A2BE2;
    border: 1px solid #8A2BE2;
    backdrop-filter: blur(54px);
    padding: 3px; 
    width: 6%;
}
