body{

    background:linear-gradient(
          rgba(0, 0, 0, 0.2), 
          rgba(0, 0, 0, 0.2)
        ), url(https://github.com/WaldLumen/waldlumen.github.io/blob/main/pics/background.jpg?raw=true) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    --size: calc(0.5vmax + 0.5vmin);
    font-size: calc(2.2 * var(--size));;

  
    
}

html{
  margin: 0;
  font-family: JetBrains Mono;
}

div {
    color: #e6e1f9;
    text-align: center;
}


img {width: 100%; max-width: 100%;}

#ra {
  border-radius: 25px;
  border: 1px solid #e6e1f9;
  width: 10%;
}

#rcorners2 {
  border-radius: 25px;
  border: 1px solid #8A2BE2;
  backdrop-filter: blur(55px);
  padding: 10px; 
  width:  70%;
  height: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#rcorners1 {
    border-radius: 13px;
    border-color: #8A2BE2;
    border: 1px solid #8A2BE2;
    backdrop-filter: blur(50px);
    padding: 3px; 
    width: 4%;
}

#rcorners3 {
    border-radius: 13px;
    border-color: #8A2BE2;
    border: 1px solid #8A2BE2;
    backdrop-filter: blur(54px);
    padding: 3px; 
    width: 6%;
}

#icons {
    display: inline-block;
    vertical-align:bottom;
    --size: calc(0.5vmax + 0.5vmin);
    font-size: calc(3.1 * var(--size));;
}

#icons a:link{
  color: #720e9e;
    text-decoration: none; 
}

#icons a:visited{
 color: #720e9e;
 text-decoration: none; 
}

 /* unvisited link */
a:link {
    color: #D8BFD8;
    text-decoration: none; 
}

/* visited link */
a:visited {
    color: #D8BFD8;
    text-decoration: none; 
}

/* mouse over link */
a:hover {
    color:#D8BFD8 ;
    text-decoration: none; 
}

/* selected link */
a:active {
    color:#D8BFD8 ;
    text-decoration: none; 
} 
